@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2EEE3;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), monospace;
}

body {
  cursor: url('/Arrow-Cursor-2--Streamline-Core.svg'), auto;
}

a, button {
  cursor: url('/Hand-Cursor--Streamline-Core.svg'), auto;
}

::selection {
  background-color: #2AAD5F;
  color: white;
}

.brands-container {
  display: flex;
  gap: 3.75rem;
  padding-inline: 1.875rem;
  animation: scroll 45s linear infinite; /* Infinite scroll */
  overflow: hidden;
  width: max-content; /* Ensure the width fits the content */
  flex-shrink: 0;
}

.brand-item {
  flex-shrink: 0; /* Prevent items from shrinking */
  width: 216px; /* Set a specific width for each item */
  object-fit: contain;
}

/* Infinite scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust this to the length of the two sets of images */
  }
}

.brands-container {
  display: flex;
  animation: scroll 45s linear infinite; /* Infinite loop */
}

.brand-item {
  width: 130px; /* Resize for smaller screens */
}

/* Responsive design for small screens */
@media (max-width: 1024px) {
  .brands-container {
    gap: 2rem; /* Adjust gap on smaller screens */
  }

  /* Show only 3 items at a time on small screens */
  .brands-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure items stay in one row */
    justify-content: flex-start;
  }

  /* Optionally, adjust the size of the images for better responsiveness */
  .brand-item {
    width: 120px; /* Resize for smaller screens */
  }

  /* Loop the images by making multiple sets */
  .brands-container {
    animation: scroll 45s linear infinite;
  }
}
