@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2EEE3;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), monospace;
}

body {
  cursor: url('/Arrow-Cursor-2--Streamline-Core.svg'), auto;
}

a, button {
  cursor: url('/Hand-Cursor--Streamline-Core.svg'), auto;
}

::selection {
  background-color: #2AAD5F;
  color: white;
}